# ETL
Revisamos cada columna, se encontro numerosos datos con el valor SD que hemos reemplazado con otros valores de la columna de acuerdo a su distribución de probabilidad, cambiamos nombres de algunas columnas y unimos los data frames.

In [14]:
import pandas as pd
import numpy as np

In [2]:
ho_hech=pd.read_excel('homicidios.xlsx')
ho_vict = pd.read_excel('homicidios.xlsx', sheet_name='VICTIMAS')

In [3]:
ho_hech.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [10]:
ho_vict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [4]:
ho_hech.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [12]:

nan_counts = ho_hech.isna().sum()
nan_counts

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: int64

In [13]:
empty_counts = ho_hech.applymap(lambda x: x == '').sum()
empty_counts

ID                       0
N_VICTIMAS               0
FECHA                    0
AAAA                     0
MM                       0
DD                       0
HORA                     0
HH                       0
LUGAR_DEL_HECHO          0
TIPO_DE_CALLE            0
Calle                    0
Altura                   0
Cruce                    0
Dirección Normalizada    0
COMUNA                   0
XY (CABA)                0
pos x                    0
pos y                    0
PARTICIPANTES            0
VICTIMA                  0
ACUSADO                  0
dtype: int64

In [14]:
ho_hech.VICTIMA.value_counts()

MOTO           295
PEATON         264
AUTO            83
BICICLETA       29
SD               9
CARGAS           7
PASAJEROS        5
MOVIL            2
OBJETO FIJO      1
PEATON_MOTO      1
Name: VICTIMA, dtype: int64

In [5]:
ho_hech.drop_duplicates(inplace=True)
ho_hech.reset_index(drop=True, inplace=True)

In [16]:
repeated_counts = ho_hech['ID'].value_counts()
repeated_counts

2016-0001    1
2019-0050    1
2019-0042    1
2019-0043    1
2019-0044    1
            ..
2017-0111    1
2017-0112    1
2017-0113    1
2017-0114    1
2021-0097    1
Name: ID, Length: 696, dtype: int64

In [17]:
ho_hech["Cruce"].sort_values( inplace=False, ascending=False)

27      ZUVIRIA
120     ZUVIRIA
632    ZAVALETA
226    ZAVALETA
295    ZAVALETA
         ...
680         NaN
685         NaN
687         NaN
694         NaN
695         NaN
Name: Cruce, Length: 696, dtype: object

Eliminamos columnas innecesarias.

In [7]:
ho_hech.drop(columns=['AAAA','MM','DD'],inplace=True)

In [8]:
ho_hech.columns=ho_hech.columns.str.lower()

In [9]:
ho_hech.rename(columns={'lugar_del_hecho': 'lugar', 'dirección normalizada': 'direccion'}, inplace=True)

In [10]:
ho_hech.rename(columns={'pos x': 'longitud', 'pos y': 'latitud'}, inplace=True)

In [ ]:
filtered_df = ho_hech[ho_hech['direccion'].isna()]
filtered_df

,id,n_victimas,fecha,hora,hh,lugar,tipo_de_calle,calle,altura,cruce,direccion,comuna,xy (caba),pos x,pos y,participantes,victima,acusado
38,2016-0052,1,2016-04-20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,13,Point (. .),.,.,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
119,2016-0151,1,2016-11-18,20:35:00,20,SD,CALLE,NaN,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD
180,2017-0050,2,2017-04-28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,NaN,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
181,2017-0051,1,2017-05-01,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,NaN,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO
313,2018-0039,1,2018-04-21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO
546,2020-0026,1,2020-05-17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
621,2021-0023,1,2021-03-01,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS

Completamos los valores faltantes en direccion con los de lugar

In [11]:
ho_hech['direccion'].fillna(ho_hech['lugar'], inplace=True)
ho_hech['direccion'] = ho_hech['direccion'].str.replace('AUTOPISTA', 'AU')

In [12]:
ho_hech.drop(columns=['lugar'],inplace=True)

In [ ]:
ho_hech.head()

,id,n_victimas,fecha,hora,hh,tipo_de_calle,calle,altura,cruce,direccion,comuna,xy (caba),pos x,pos y,participantes,victima,acusado
0,2016-0001,1,2016-01-01,04:00:00,4,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,01:15:00,1,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,07:00:00,7,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,00:00:00,0,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,05:20:00,5,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [16]:
ho_hech['hora'] = ho_hech['hora'].replace('SD', np.nan)

In [18]:


conteo_series = ho_hech.hora.value_counts()

# Convertir la Serie a DataFrame
df_resultado = pd.DataFrame(conteo_series.reset_index())
df_resultado.columns = ['hora', 'Conteo']  # Renombrar las columnas si es necesario

# Ordenar por el año si lo deseas
#conteo_df = df_resultado.sort_values(by='hora')

# Restablecer los índices si lo deseas
conteo_df = df_resultado.reset_index(drop=True)
conteo_df
conteo_df['Probabilidad'] = conteo_df['Conteo'] / conteo_df['Conteo'].sum()

# Generar un año aleatorio en función de las probabilidades
años_posibles = conteo_df['hora'].tolist()
probabilidades = conteo_df['Probabilidad'].tolist()

# Obtener índices de las filas con años NaN
indices_nan = ho_hech['hora'].isna()

# Asignar años basados en las probabilidades a las filas con años NaN
ho_hech.loc[indices_nan, 'hora'] = np.random.choice(años_posibles, size=indices_nan.sum(), p=probabilidades)

ho_hech['fecha']=pd.to_datetime(ho_hech['fecha'])

Completamos campo 'acusado'

In [26]:
ho_hech['acusado'] = ho_hech['acusado'].replace('SD', np.nan)
conteo_series = ho_hech.acusado.value_counts()

# Convertir la Serie a DataFrame
df_resultado = pd.DataFrame(conteo_series.reset_index())
df_resultado.columns = ['acusado', 'Conteo']  # Renombrar las columnas si es necesario

# Ordenar por el año si lo deseas
conteo_df = df_resultado.sort_values(by='acusado')

# Restablecer los índices si lo deseas
conteo_df = df_resultado.reset_index(drop=True)
conteo_df['Probabilidad'] = conteo_df['Conteo'] / conteo_df['Conteo'].sum()

# Generar un año aleatorio en función de las probabilidades
años_posibles = conteo_df['acusado'].tolist()
probabilidades = conteo_df['Probabilidad'].tolist()

# Obtener índices de las filas con años NaN
indices_nan = ho_hech['acusado'].isna()

# Asignar años basados en las probabilidades a las filas con años NaN
ho_hech.loc[indices_nan, 'acusado'] = np.random.choice(años_posibles, size=indices_nan.sum(), p=probabilidades)

Completamos el campo 'victima'

In [28]:
ho_hech['victima'] = ho_hech['victima'].replace('SD', np.nan)
conteo_series = ho_hech.victima.value_counts()

# Convertir la Serie a DataFrame
df_resultado = pd.DataFrame(conteo_series.reset_index())
df_resultado.columns = ['victima', 'Conteo']  # Renombrar las columnas si es necesario

# Ordenar por el año si lo deseas
conteo_df = df_resultado.sort_values(by='victima')

# Restablecer los índices si lo deseas
conteo_df = df_resultado.reset_index(drop=True)
conteo_df['Probabilidad'] = conteo_df['Conteo'] / conteo_df['Conteo'].sum()

# Generar un año aleatorio en función de las probabilidades
años_posibles = conteo_df['victima'].tolist()
probabilidades = conteo_df['Probabilidad'].tolist()

# Obtener índices de las filas con años NaN
indices_nan = ho_hech['victima'].isna()

# Asignar años basados en las probabilidades a las filas con años NaN
ho_hech.loc[indices_nan, 'victima'] = np.random.choice(años_posibles, size=indices_nan.sum(), p=probabilidades)

Completamos el campo 'participantes'

In [29]:
ho_hech['participantes'] = ho_hech['participantes'].replace('SD', np.nan)
conteo_series = ho_hech.participantes.value_counts()

# Convertir la Serie a DataFrame
df_resultado = pd.DataFrame(conteo_series.reset_index())
df_resultado.columns = ['participantes', 'Conteo']  # Renombrar las columnas si es necesario

# Ordenar por el año si lo deseas
conteo_df = df_resultado.sort_values(by='participantes')

# Restablecer los índices si lo deseas
conteo_df = df_resultado.reset_index(drop=True)
conteo_df['Probabilidad'] = conteo_df['Conteo'] / conteo_df['Conteo'].sum()

# Generar un año aleatorio en función de las probabilidades
años_posibles = conteo_df['participantes'].tolist()
probabilidades = conteo_df['Probabilidad'].tolist()

# Obtener índices de las filas con años NaN
indices_nan = ho_hech['participantes'].isna()

# Asignar años basados en las probabilidades a las filas con años NaN
ho_hech.loc[indices_nan, 'participantes'] = np.random.choice(años_posibles, size=indices_nan.sum(), p=probabilidades)

Completamos el campo 'direccion'

In [30]:
ho_hech['direccion'] = ho_hech['direccion'].replace('SD', np.nan)
conteo_series = ho_hech.direccion.value_counts()

# Convertir la Serie a DataFrame
df_resultado = pd.DataFrame(conteo_series.reset_index())
df_resultado.columns = ['direccion', 'Conteo']  # Renombrar las columnas si es necesario

# Ordenar por el año si lo deseas
conteo_df = df_resultado.sort_values(by='direccion')

# Restablecer los índices si lo deseas
conteo_df = df_resultado.reset_index(drop=True)
conteo_df['Probabilidad'] = conteo_df['Conteo'] / conteo_df['Conteo'].sum()

# Generar un año aleatorio en función de las probabilidades
años_posibles = conteo_df['direccion'].tolist()
probabilidades = conteo_df['Probabilidad'].tolist()

# Obtener índices de las filas con años NaN
indices_nan = ho_hech['direccion'].isna()

# Asignar años basados en las probabilidades a las filas con años NaN
ho_hech.loc[indices_nan, 'direccion'] = np.random.choice(años_posibles, size=indices_nan.sum(), p=probabilidades)

Completamos el campo 'calle'

In [31]:
ho_hech['calle'] = ho_hech['calle'].replace('SD', np.nan)
conteo_series = ho_hech.calle.value_counts()

# Convertir la Serie a DataFrame
df_resultado = pd.DataFrame(conteo_series.reset_index())
df_resultado.columns = ['calle', 'Conteo']  # Renombrar las columnas si es necesario

# Ordenar por el año si lo deseas
conteo_df = df_resultado.sort_values(by='calle')

# Restablecer los índices si lo deseas
conteo_df = df_resultado.reset_index(drop=True)
conteo_df['Probabilidad'] = conteo_df['Conteo'] / conteo_df['Conteo'].sum()

# Generar un año aleatorio en función de las probabilidades
años_posibles = conteo_df['calle'].tolist()
probabilidades = conteo_df['Probabilidad'].tolist()

# Obtener índices de las filas con años NaN
indices_nan = ho_hech['calle'].isna()

# Asignar años basados en las probabilidades a las filas con años NaN
ho_hech.loc[indices_nan, 'calle'] = np.random.choice(años_posibles, size=indices_nan.sum(), p=probabilidades)

Completamos tipo_de_calle

In [33]:
ho_hech['tipo_de_calle'] = ho_hech['tipo_de_calle'].replace('SD', np.nan)
conteo_series = ho_hech.tipo_de_calle.value_counts()

# Convertir la Serie a DataFrame
df_resultado = pd.DataFrame(conteo_series.reset_index())
df_resultado.columns = ['tipo_de_calle', 'Conteo']  # Renombrar las columnas si es necesario

# Ordenar por el año si lo deseas
conteo_df = df_resultado.sort_values(by='tipo_de_calle')

# Restablecer los índices si lo deseas
conteo_df = df_resultado.reset_index(drop=True)
conteo_df['Probabilidad'] = conteo_df['Conteo'] / conteo_df['Conteo'].sum()

# Generar un año aleatorio en función de las probabilidades
años_posibles = conteo_df['tipo_de_calle'].tolist()
probabilidades = conteo_df['Probabilidad'].tolist()

# Obtener índices de las filas con años NaN
indices_nan = ho_hech['tipo_de_calle'].isna()

# Asignar años basados en las probabilidades a las filas con años NaN
ho_hech.loc[indices_nan, 'tipo_de_calle'] = np.random.choice(años_posibles, size=indices_nan.sum(), p=probabilidades)

In [36]:
filtered_items = ho_hech[ho_hech['comuna'] == 0]
filtered_items

,id,n_victimas,fecha,hora,hh,tipo_de_calle,calle,altura,cruce,direccion,comuna,xy (caba),longitud,latitud,participantes,victima,acusado
119,2016-0151,1,2016-11-18,20:35:00,20,CALLE,"PAZ, GRAL. AV.",NaN,NaN,AU PERITO MORENO y AU 25 DE MAYO,0,Point (. .),.,.,PEATON-SD,PEATON,PASAJEROS
139,2016-0174,1,2016-12-27,00:00:00,0,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,NaN,AU 25 DE MAYO,0,Point (. .),.,.,SD-SD,AUTO,PASAJEROS

Revisamos el df de victimas

In [37]:
ho_hech.replace(0, 7, inplace=True)

In [38]:
ho_vict.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [25]:
ho_vict.EDAD.value_counts()

SD    53
30    28
29    24
23    24
27    20
      ..
11     1
13     1
85     1
7      1
88     1
Name: EDAD, Length: 86, dtype: int64

In [ ]:
empty_counts = ho_vict.applymap(lambda x: x == '').sum()
empty_counts

ID_hecho               0
FECHA                  0
AAAA                   0
MM                     0
DD                     0
ROL                    0
VICTIMA                0
SEXO                   0
EDAD                   0
FECHA_FALLECIMIENTO    0
dtype: int64

In [26]:
nan_counts = ho_vict.isna().sum()
nan_counts

ID_hecho               0
FECHA                  0
AAAA                   0
MM                     0
DD                     0
ROL                    0
VICTIMA                0
SEXO                   0
EDAD                   0
FECHA_FALLECIMIENTO    0
dtype: int64

Encontramos que en la columna Id_hecho hay valores repetidos

In [ ]:
ho_vict.ID_hecho.value_counts()

2017-0035    3
2017-0050    2
2016-0041    2
2018-0015    2
2020-0063    2
            ..
2017-0115    1
2017-0116    1
2017-0118    1
2017-0120    1
2021-0096    1
Name: ID_hecho, Length: 696, dtype: int64

Verificamos que se debe al numero de victimas

In [ ]:
filtered_items = ho_hech[ho_hech['ID'] == '2017-0035']
filtered_items

,ID,N_VICTIMAS,FECHA,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
170,2017-0035,3,2017-03-23,05:00:00,5,AV. DR. TRISTAN ACHAVAL RODRIGUEZ Y BLVD. AZUC...,AVENIDA,"ACHAVAL RODRIGUEZ, T., DR. AV.",NaN,"VILLAFLOR, AZUCENA","ACHAVAL RODRIGUEZ, T., DR. AV. y VILLAFLOR, AZ...",1,Point (109583.11620052 102006.72069921),-58.35881506,-34.61113641,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO

In [39]:
ho_vict.columns=ho_vict.columns.str.lower()

In [ ]:
ho_vict.head()

,id_hecho,fecha,rol,victima,sexo,edad,fecha_fallecimiento
0,2016-0001,2016-01-01,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [ ]:
ho_hech.head()

,id,n_victimas,fecha,hora,hh,tipo_de_calle,calle,altura,cruce,direccion,comuna,xy (caba),longitud,latitud,participantes,victima,acusado
0,2016-0001,1,2016-01-01,04:00:00,4,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,01:15:00,1,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,07:00:00,7,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,00:00:00,0,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,05:20:00,5,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [28]:
ho_vict.drop_duplicates(inplace=True)
ho_vict.reset_index(drop=True, inplace=True)

In [29]:
ho_vict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_hecho             717 non-null    object
 1   fecha                717 non-null    datetime64[ns]
 2   aaaa                 717 non-null    int64
 3   mm                   717 non-null    int64
 4   dd                   717 non-null    int64
 5   rol                  717 non-null    object
 6   victima              717 non-null    object
 7   sexo                 717 non-null    object
 8   edad                 717 non-null    object
 9   fecha_fallecimiento  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [ ]:
ho_vict.fecha.value_counts()

2017-02-26    3
2016-02-28    3
2017-11-19    3
2017-12-11    3
2018-04-27    3
             ..
2017-11-23    1
2017-11-17    1
2017-11-16    1
2017-11-07    1
2021-12-15    1
Name: fecha, Length: 598, dtype: int64

In [40]:
ho_vict.drop(columns=['aaaa','mm','dd'],inplace=True)

In [41]:
ho_vict.drop(columns=['fecha_fallecimiento'],inplace=True)

Completamos el campo 'edad'

In [42]:
ho_vict['edad'] = ho_vict['edad'].replace('SD', pd.NA)
conteo_series = ho_vict.edad.value_counts()

# Convertir la Serie a DataFrame
df_resultado = pd.DataFrame(conteo_series.reset_index())
df_resultado.columns = ['edad', 'Conteo']  # Renombrar las columnas si es necesario

# Ordenar por el año si lo deseas
conteo_df = df_resultado.sort_values(by='edad')

# Restablecer los índices si lo deseas
conteo_df = df_resultado.reset_index(drop=True)
conteo_df
# Calcular la probabilidad de cada año
conteo_df['Probabilidad'] = conteo_df['Conteo'] / conteo_df['Conteo'].sum()

# Generar un año aleatorio en función de las probabilidades
años_posibles = conteo_df['edad'].tolist()
probabilidades = conteo_df['Probabilidad'].tolist()

# Obtener índices de las filas con años NaN
indices_nan = ho_vict['edad'].isna()

# Asignar años basados en las probabilidades a las filas con años NaN
ho_vict.loc[indices_nan, 'edad'] = np.random.choice(años_posibles, size=indices_nan.sum(), p=probabilidades)

ho_vict['edad'] = pd.to_numeric(ho_vict['edad'])

Completamos el campo 'rol'

In [43]:
ho_vict['rol'] = ho_vict['rol'].replace('SD', np.nan)
conteo_series = ho_vict.rol.value_counts()

# Convertir la Serie a DataFrame
df_resultado = pd.DataFrame(conteo_series.reset_index())
df_resultado.columns = ['rol', 'Conteo']  # Renombrar las columnas si es necesario

# Ordenar por el año si lo deseas
conteo_df = df_resultado.sort_values(by='rol')

# Restablecer los índices si lo deseas
conteo_df = df_resultado.reset_index(drop=True)
conteo_df['Probabilidad'] = conteo_df['Conteo'] / conteo_df['Conteo'].sum()

# Generar un año aleatorio en función de las probabilidades
años_posibles = conteo_df['rol'].tolist()
probabilidades = conteo_df['Probabilidad'].tolist()

# Obtener índices de las filas con años NaN
indices_nan = ho_vict['rol'].isna()

# Asignar años basados en las probabilidades a las filas con años NaN
ho_vict.loc[indices_nan, 'rol'] = np.random.choice(años_posibles, size=indices_nan.sum(), p=probabilidades)

Completamos el campo 'sexo'

In [44]:
ho_vict['sexo'] = ho_vict['sexo'].replace('SD', np.nan)
conteo_series = ho_vict.sexo.value_counts()

# Convertir la Serie a DataFrame
df_resultado = pd.DataFrame(conteo_series.reset_index())
df_resultado.columns = ['sexo', 'Conteo']  # Renombrar las columnas si es necesario

# Ordenar por el año si lo deseas
conteo_df = df_resultado.sort_values(by='sexo')

# Restablecer los índices si lo deseas
conteo_df = df_resultado.reset_index(drop=True)
conteo_df['Probabilidad'] = conteo_df['Conteo'] / conteo_df['Conteo'].sum()

# Generar un año aleatorio en función de las probabilidades
años_posibles = conteo_df['sexo'].tolist()
probabilidades = conteo_df['Probabilidad'].tolist()

# Obtener índices de las filas con años NaN
indices_nan = ho_vict['sexo'].isna()

# Asignar años basados en las probabilidades a las filas con años NaN
ho_vict.loc[indices_nan, 'sexo'] = np.random.choice(años_posibles, size=indices_nan.sum(), p=probabilidades)

In [45]:
ho_vict.head()

    id_hecho      fecha        rol victima       sexo  edad
0  2016-0001 2016-01-01  CONDUCTOR    MOTO  MASCULINO    19
1  2016-0002 2016-01-02  CONDUCTOR    AUTO  MASCULINO    70
2  2016-0003 2016-01-03  CONDUCTOR    MOTO  MASCULINO    30
3  2016-0004 2016-01-10  CONDUCTOR    MOTO  MASCULINO    18
4  2016-0005 2016-01-21  CONDUCTOR    MOTO  MASCULINO    29

Unimos los dos data frames

In [46]:
dfhomic=pd.merge(ho_vict, ho_hech, left_on='id_hecho',right_on='id')

In [47]:
dfhomic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 717 entries, 0 to 716
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_hecho       717 non-null    object
 1   fecha_x        717 non-null    datetime64[ns]
 2   rol            717 non-null    object
 3   victima_x      717 non-null    object
 4   sexo           717 non-null    object
 5   edad           717 non-null    int64
 6   id             717 non-null    object
 7   n_victimas     717 non-null    int64
 8   fecha_y        717 non-null    datetime64[ns]
 9   hora           717 non-null    object
 10  hh             717 non-null    object
 11  tipo_de_calle  717 non-null    object
 12  calle          717 non-null    object
 13  altura         133 non-null    float64
 14  cruce          540 non-null    object
 15  direccion      717 non-null    object
 16  comuna         717 non-null    int64
 17  xy (caba)      717 non-null    object
 18  longitud       717 non-null    object
 19  latitud        717 non-null    object
 20  participantes  717 non-null    object
 21  victima_y      717 non-null    object
 22  acusado        717 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(3), object(17)
memory usage: 134.4+ KB

In [48]:
filtered_items = dfhomic[dfhomic['id'] == '2017-0035']
filtered_items

,id_hecho,fecha_x,rol,victima_x,sexo,edad,id,n_victimas,fecha_y,hora,...,altura,cruce,direccion,comuna,xy (caba),longitud,latitud,participantes,victima_y,acusado
173,2017-0035,2017-03-23,CONDUCTOR,AUTO,MASCULINO,28,2017-0035,3,2017-03-23,05:00:00,...,NaN,"VILLAFLOR, AZUCENA","ACHAVAL RODRIGUEZ, T., DR. AV. y VILLAFLOR, AZ...",1,Point (109583.11620052 102006.72069921),-58.35881506,-34.61113641,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO
174,2017-0035,2017-03-23,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,32,2017-0035,3,2017-03-23,05:00:00,...,NaN,"VILLAFLOR, AZUCENA","ACHAVAL RODRIGUEZ, T., DR. AV. y VILLAFLOR, AZ...",1,Point (109583.11620052 102006.72069921),-58.35881506,-34.61113641,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO
175,2017-0035,2017-03-23,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,30,2017-0035,3,2017-03-23,05:00:00,...,NaN,"VILLAFLOR, AZUCENA","ACHAVAL RODRIGUEZ, T., DR. AV. y VILLAFLOR, AZ...",1,Point (109583.11620052 102006.72069921),-58.35881506,-34.61113641,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO

eliminar victima_x, fecha_y, id_hecho

In [50]:
dfhomic.drop(columns=['victima_x','fecha_y','id_hecho', 'hh', 'cruce','altura', 'xy (caba)'],inplace=True)

In [51]:
dfhomic

,fecha_x,rol,sexo,edad,id,n_victimas,hora,tipo_de_calle,calle,direccion,comuna,longitud,latitud,participantes,victima_y,acusado
0,2016-01-01,CONDUCTOR,MASCULINO,19,2016-0001,1,04:00:00,AVENIDA,PIEDRA BUENA AV.,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-01-02,CONDUCTOR,MASCULINO,70,2016-0002,1,01:15:00,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-01-03,CONDUCTOR,MASCULINO,30,2016-0003,1,07:00:00,AVENIDA,ENTRE RIOS AV.,ENTRE RIOS AV. 2034,1,-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-01-10,CONDUCTOR,MASCULINO,18,2016-0004,1,00:00:00,AVENIDA,LARRAZABAL AV.,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,-58.46503904,-34.68092974,MOTO-SD,MOTO,AUTO
4,2016-01-21,CONDUCTOR,MASCULINO,29,2016-0005,1,05:20:00,AVENIDA,SAN JUAN AV.,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,2021-12-12,PEATON,FEMENINO,50,2021-0092,1,06:20:00,AVENIDA,RIVADAVIA AV.,RIVADAVIA AV. y PUEYRREDON AV.,3,-58.40596860,-34.61011987,PEATON-AUTO,PEATON,AUTO
713,2021-12-13,PASAJERO_ACOMPAÑANTE,FEMENINO,18,2021-0093,1,17:10:00,AVENIDA,RIESTRA AV.,RIESTRA AV. y MOM,7,-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
714,2021-12-20,PASAJERO_ACOMPAÑANTE,FEMENINO,43,2021-0094,1,01:10:00,AUTOPISTA,"DELLEPIANE, LUIS, TTE. GRAL.","DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
715,2021-12-30,CONDUCTOR,MASCULINO,27,2021-0095,1,00:43:00,AVENIDA,GAONA AV.,GAONA AV. y TERRADA,11,-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
716,2021-12-15,CONDUCTOR,MASCULINO,60,2021-0096,1,10:30:00,AVENIDA,"PERON, EVA AV.","PERON, EVA AV. 4071",9,-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS

In [52]:
dfhomic.rename(columns={'fecha_x': 'fecha', 'tipo_de_calle': 't_calle', 'victima_y': 'victima'}, inplace=True)

Completamos los campos vacíos de coordenadas con datos de Google Maps

In [53]:
filtered_df = dfhomic[dfhomic['longitud']=='.']
filtered_df

,fecha,rol,sexo,edad,id,n_victimas,hora,t_calle,calle,direccion,comuna,longitud,latitud,participantes,victima,acusado
39,2016-04-20,PEATON,MASCULINO,34,2016-0052,1,20:00:00,AUTOPISTA,"LUGONES, LEOPOLDO AV.",AU LUGONES PK 10000,13,.,.,MOTO-SD,MOTO,AUTO
108,2016-10-25,CONDUCTOR,MASCULINO,49,2016-0136,1,00:00:00,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,AU BUENOS AIRES - LA PLATA KM. 4,4,.,.,MOTO-CARGAS,MOTO,CARGAS
121,2016-11-18,PEATON,MASCULINO,51,2016-0151,1,20:35:00,CALLE,"PAZ, GRAL. AV.",AU PERITO MORENO y AU 25 DE MAYO,7,.,.,PEATON-SD,PEATON,PASAJEROS
141,2016-12-27,PEATON,FEMENINO,31,2016-0174,1,00:00:00,AUTOPISTA,AUTOPISTA 25 DE MAYO,AU 25 DE MAYO,7,.,.,SD-SD,AUTO,PASAJEROS
182,2017-04-10,CONDUCTOR,MASCULINO,17,2017-0042,1,09:00:00,GRAL PAZ,"LUGONES, LEOPOLDO AV.","LUGONES, LEOPOLDO AV.",14,.,.,MOTO-CARGAS,MOTO,CARGAS
186,2017-04-28,CONDUCTOR,MASCULINO,46,2017-0050,2,11:08:08,AUTOPISTA,AUTOPISTA PERITO MORENO,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,9,.,.,MOTO-CARGAS,MOTO,CARGAS
187,2017-04-28,PASAJERO_ACOMPAÑANTE,MASCULINO,16,2017-0050,2,11:08:08,AUTOPISTA,AUTOPISTA PERITO MORENO,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,9,.,.,MOTO-CARGAS,MOTO,CARGAS
188,2017-05-01,CONDUCTOR,MASCULINO,33,2017-0051,1,03:47:47,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,AU DELLEPIANE 2400,7,.,.,AUTO-AUTO,AUTO,AUTO
266,2017-11-19,CONDUCTOR,MASCULINO,24,2017-0140,1,23:22:17,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,AU 1 SUR PRESIDENTE ARTURO FRONDIZI,4,.,.,MOTO-PASAJEROS,MOTO,PASAJEROS
327,2018-04-21,PEATON,MASCULINO,37,2018-0039,1,22:15:00,AUTOPISTA,"LUGONES, LEOPOLDO AV.",AU LUGONES KM 4.7,14,.,.,PEATON-AUTO,PEATON,AUTO
564,2020-05-17,CONDUCTOR,MASCULINO,28,2020-0026,1,06:40:00,AUTOPISTA,"LUGONES, LEOPOLDO AV.","LUGONES, LEOPOLDO AV. KM 6,1",14,.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
578,2020-09-01,PEATON,MASCULINO,44,2020-0039,1,19:17:42,CALLE,MURGUIONDO,MURGUIONDO,9,.,.,PEATON-CARGAS,PEATON,CARGAS
642,2021-03-01,CONDUCTOR,MASCULINO,24,2021-0023,1,09:20:00,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,"AU BUENOS AIRES LA PLATA KM 4,5",4,.,.,MOTO-CARGAS,MOTO,CARGAS

In [54]:
dfhomic.at[39, 'longitud'] = -58.43857438048696
dfhomic.at[39, 'latitud'] = -34.548442966517044

dfhomic.at[108, 'longitud'] = -57.96732444513633
dfhomic.at[108, 'latitud'] = -34.877588722900306

dfhomic.at[121, 'longitud'] = ''
dfhomic.at[121, 'latitud'] = ''
dfhomic.at[141, 'longitud'] = -58.41361068046544
dfhomic.at[141, 'latitud'] = -34.62718277362742

dfhomic.at[182, 'longitud'] = -58.43856363223652
dfhomic.at[182, 'latitud'] = -34.54849605682503

dfhomic.at[186, 'longitud'] = -58.49259413657688
dfhomic.at[186, 'latitud'] = -34.640638622328005

dfhomic.at[187, 'longitud'] = -58.49259413657688
dfhomic.at[187, 'latitud'] = -34.640638622328005

dfhomic.at[188, 'longitud'] = -58.4755781322316
dfhomic.at[188, 'latitud'] = -34.66922710115247

dfhomic.at[266, 'longitud'] = -58.377010108950536
dfhomic.at[266, 'latitud'] = -34.63723602557122

dfhomic.at[327, 'longitud'] = -58.43858508990828
dfhomic.at[327, 'latitud'] = -34.54849605682503

dfhomic.at[564, 'longitud'] = -58.438520716892974
dfhomic.at[564, 'latitud'] = -34.54847838328743

dfhomic.at[578, 'longitud'] = -58.47630865076732
dfhomic.at[578, 'latitud'] = -34.676463254374674

dfhomic.at[642, 'longitud'] = -58.30780476129833
dfhomic.at[642, 'latitud'] = -34.683916662936404

In [56]:
dfhomic.to_csv('homicidios1.csv')